html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

body {
	font-family: sans-serif;
	background-color:#2f282d;
	/* background-image:url('../images/nonLive/bgSplice_03.png');
	background-repeat: repeat-x; */
}

.bgwrapper {
	min-width: 960px;
	background-image:url('../images/nonLive/preCompBGTex.png');
	background-repeat: no-repeat;
	background-position: center -270px;
}

.container {
	width: 960px;
	margin: auto;	
	position: relative;
}

.row {
	text-align: center;
}

.footer {
	margin-top: 20px;
}



/*
////////////////////


		Non Live

/////////////////////////*/



.RoyalePresents,
.daBellRinga,
#CounterZone,
.counterText {
	position: relative;
	z-index: 12;
}

.RoyalePresents,
.daBellRinga,
.header-spacer {
	display: inline-block;
}
.header-spacer {
	width: 100px;
}


/*
////////////////////


	Donation Panel

/////////////////////////*/

.donatePlate {
	background-image: url('../images/live/donationPlatter.png');
	position:absolute;
	left:50%;
	top:200px;
	margin-left: 130px;
	width:348px;
	height:440px;
	z-index: 7;
	text-align: center;
}

.donateHeader {
	margin-top: 50px;
}

.redCrossTray {
	position:absolute;
	left:52px;
	top:280px;
	width:248px;
	height:60px;
	z-index: 7;
	
}

.crossText {
	position:absolute;
	left:52px;
	top:325px;
	width:248px;
	height:60px;
	z-index: 7;
	
}

.zeroDolla {
 	position:absolute;
	left:152px;
	top:160px;
	width:110px;
}

.fiveDolla {
 	position:absolute;
	left:152px;
	top:200px;
	width:110px;
}

.soloCoin {
	position:absolute;
	left:108px;
	top:190px;
	width:40px;
	height:40px;
	z-index: 9;
}

.soloCoin2 {
	position:absolute;
	left:108px;
	top:230px;
	width:40px;
	height:40px;
	z-index: 9;
}

#soloCoin {
	position:absolute;
	color: #CDCDCD;
	left:-142px;
	top:860px;
	width:80px;
	height:60px;
	font-size:180%;
}

.share {
	position:absolute;
	left:0px;
	top:365px;
	width:100%;
	height:60px;
	text-align: center;
}

.shareIcon,
.facebook-Icon,
.twitter-icon,
.mail-icon{
	display: inline-block;
}




div.mailForm{
	position: absolute;
	background: url('../images/creampaper.png');
	background-color: #030303;
	left: 200px;
	top: 800px;
	opacity: 1;
	z-index: 7;
}
div#mailForm{

	position: absolute;
	background: url('../images/creampaper.png');
	background-color: #030303;
	left: 200px;
	top: 800px;
	opacity: 1;
	z-index: 7;
}



/*
////////////////////


		Tranny Effects

/////////////////////////*/




.brotherDarkness {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	opacity: 1.0;
	z-index: 7;
}


/*
////////////////////


		Live

/////////////////////////*/

.mattePainting {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 960px;
	height: 1217px;
	z-index: 0;
	background-image: url('../images/live/112812_wide_jpg48_002.jpg');
	background-repeat: no-repeat;
	background-position: center top;
	opacity: 0.2;
}



div.dividers {
	position: absolute;
	top:-40px;

}

div.centerCont {

	position: absolute;
	left: -40px;

	z-index: 1;

}



div.video-container {
	z-index: 2;
}

button.closeForm {

	position:absolute;
	left:250px;
	
	height:50px;
	z-index: 4;
	font-size: 100%;
}

div.underCrossContent {
	position:absolute;
	left:652px;
	top:900px;
	width:370px;
	height:335px;
}








/*///////////////////////*/


div.testForm {
	position:absolute;
	
	top:200px;
	width:1024px;
	height:473px;
}

div.nameTicker {
	position:absolute;
	left:638px;
	top:200px;
	width:1024px;
	color: #CDCDCD;
	height:473px;
	font-size:180%;

}

div.leftDivider {

	position:absolute;
	left:272px;
	top:800px;
	
	


}

div.rightDivider {

	position:absolute;
	left:632px;
	top:800px;
	
	


}



.tableBG {
background-image:url('../images/nonLive/preCompBGTex.png');
background-repeat: no-repeat;

}

.mainTable {
	position: absolute;
	text-align: center;
	
}






.video-container,
.video {
	width: 960px;
	height: 540px;	
}
.video-container {
	position: relative;
	margin: auto;
}
.video {
	position: absolute;
	top: 0;
	left: 0;
}

.flip-container {
	width: 380px;
	height: 280px;
	margin: auto;
	position: absolute;
	left: 50%;
	margin-left: -190px;
	z-index: 2;
}
.flipper {
	background: url('../images/creampaper.png');
	border: solid 2px white;
	padding: 20px;
	width: 340px;
	height: 240px;
	position: absolute;
	top: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
ul.amount-list {
	text-align: left;
	display: block;
	width: 70px;
	margin: auto;
}
.amount-list label{
	display: block;
	margin-left: 20px;
}
.amount-list input {
	float: left;
}
.amount-list li {
	margin-bottom: 8px;
}
.amount-radio:hover + label,
.amount-radio + label:hover {
	font-weight: bold;
}
.amount-radio:checked + label {
	color: #06F;
	font-weight: bold;
}

input.type-radio {
	margin-top: -4px;
}

.flipper .control-label {
	width: 80px;
}
.flipper .controls {
	margin-left: 100px;
	text-align: left;
}
.flipper {
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	position: absolute;
}
.flipper.shy {
	opacity: 0;
	pointer-events: none;
	-webkit-transform: scale(.9);
	-moz-transform: scale(.9);
	-ms-transform: scale(.9);
	-o-transform: scale(.9);
	transform: scale(.9);
}

.confirmed {
	position: absolute;
	margin-left: -20px;
	color: white;
	width: 40px;
	height: 40px;
	padding: 10px 0;
	text-align: center;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	-webkit-box-shadow: 0 2px 8px rgba(0,0,0,.3);
	-moz-box-shadow: 0 2px 8px rgba(0,0,0,.3);
	box-shadow: 0 2px 8px rgba(0,0,0,.3);
}
.confirmed.shy {
	opacity: 0;
	-webkit-transform: scale(.8);
	-moz-transform: scale(.8);
	-ms-transform: scale(.8);
	-o-transform: scale(.8);
	transform: scale(.8);
}


.form-title {
	padding-bottom: 1em;
	border-bottom: solid 1px #CCC;
	margin-bottom: 1.5em;
}

.form-nav,
.form-submit {
	position: absolute;
	bottom: 20px;	
}
.form-nav {
	left: 20px;
}
.form-submit {
	right: 20px;
}

.button-container {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: 105px;
	width: 300px;
	margin-left: -150px;
	text-align: center;
	z-index: 3;
	opacity: 1;
	-webkit-transform: scale(1);
	-webkit-transition: all .5s;
}
.button-container.shy {
	opacity: 0;
	margin-top: 150px;
	-webkit-transform: scale(.9);
}
.buttonOld {
	width: 200px;
	padding: 5px 0;
	border-radius: 2px;
	text-align: center;
	opacity: .5;
	display: inline-block;
	background-color: white;
	cursor: pointer;
}

#button2 #button1 #button0 {
	padding:25px;
	z-index: 3;
	margin-top: 15px;

}
.button:hover {
	opacity: 1;
}
.button:active, .button.active {
	position: relative;
	top: 2px;
}

.loading {
	color: #AAA;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200px;
	margin-left: -100px;
	text-align: center;
}
