html, body, .centerer-container {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	position: relative;
}

body {
	font-family: sans-serif;
	//background-image:url('../images/nonLive/bgSplice_03.png');
	background-color:#2f282d;
	background-repeat: repeat-x;
}

.bgTexture {
	position:absolute;
	background-image:url('../images/nonLive/preCompBGTex.png');
	background-repeat: no-repeat;
	opacity: 0.7;
	top: -180px;
	left:-250px;
	width: 1500px;
	height: 1500px;
	z-index: -1;
	
}



/*
////////////////////


		Non LIve

/////////////////////////*/



div.RoyalePresents {
	position:absolute;
	left:164px;
	top:90px;
	width:231px;
	height:127px;
	z-index: 12;
}


div.daBellRinga {
	position:absolute;
	left:495px;
	top:90px;
	width:276px;
	height:127px;
	z-index: 12;
}

div#CounterZone {
	position:absolute;
	left:124px;
	top:810px;
	width:908px;
	height:101px;
	z-index: 12;
}


div.counterText {
	position:absolute;
	left:24px;
	top:880px;
	width:1208px;
	height:104px;
	z-index: 12;
}





/*
////////////////////


	Donation Panel

/////////////////////////*/






div.donateHeader {
	position:absolute;
	left:656px;
	top:340px;
	width:370px;
	height:138px;
	display: block; 
	z-index: 8;

}


div.Donate-div-BG {
	position:absolute;
	left:594px;
	top:280px;
	width:348px;
	height:440px;
	z-index: 7;
	
}


div.redCrossTray {
	position:absolute;
	left:646px;
	top:560px;
	width:248px;
	height:60px;
	z-index: 7;
	
}


div.crossText {
	position:absolute;
	left:646px;
	top:605px;
	width:248px;
	height:60px;
	z-index: 7;
	
}


/*
////////////////////


	Share Panel

/////////////////////////*/

div.share {

	position: absolute;
	top: 12px;
	left: 14px;
}



div.shareIcon {
	position:absolute;
	left:646px;
	top:645px;
	width:248px;
	height:60px;
	z-index: 7;
	
}

div.facebook-Icon{

	position:absolute;
	left:716px;
	top:645px;
	width:248px;
	height:60px;
	z-index: 7;
}

div.twitter-icon{
	position:absolute;
	left:756px;
	top:645px;
	width:248px;
	height:60px;
	z-index: 7;

}

div.mail-icon{
	position:absolute;
	left:816px;
	top:645px;
	width:248px;
	height:60px;
	z-index: 7;

}

div.mailForm{

	position: absolute;
	background: url('../images/creampaper.png');
	background-color: #030303;
	left: 200px;
	top: 800px;
	opacity: 1;
	z-index: 7;
}
div#mailForm{

	position: absolute;
	background: url('../images/creampaper.png');
	background-color: #030303;
	left: 200px;
	top: 800px;
	opacity: 1;
	z-index: 7;
}


/* Coins */


 div.zeroDolla {

 	position:absolute;
	
	left:746px;
	top:440px;
	width:110px;
	

	z-index: 8;
	

 }


div.fiveDolla {

 	position:absolute;

	left:746px;
	top:480px;
	width:110px;
	

	z-index: 8;
	

 }


/* ^^^^^  Coins  ^^^^^ */






div.soloCoin {
	position:absolute;
	left:702px;
	top:470px;
	width:40px;
	height:40px;
	z-index: 9;
}


div.soloCoin2 {
	position:absolute;
	left:702px;
	top:510px;
	width:40px;
	height:40px;
	z-index: 9;
}

div#soloCoin {
	position:absolute;
	color: #CDCDCD;
	left:452px;
	top:1140px;
	width:80px;
	height:60px;
	font-size:180%;
}




/*
////////////////////


		Tranny Effects

/////////////////////////*/




div.brotherDarkness {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	opacity: 1.0;
	
	z-index: 7;

};




/*
////////////////////


		Share Forms

/////////////////////////*/





div .facePost .twitterPost {
	position:absolute;
	left:338px;
	top:200px;
	width:424px;
	color: #CDCDCD;
	height:473px;
	font-size:180%;

}

/*div.twitterPost {
	position:absolute;
	left:338px;
	top:200px;
	width:424px;
	color: #CDCDCD;
	height:473px;
	font-size:180%;*/

}




/*
////////////////////


		LIve

/////////////////////////*/

div.mattePainting {
	position: absolute;
	background-image: url('../images/live/112812_wide_jpg48_002.jpg');
	background-repeat: no-repeat;
	 //top: -150px;
	//left:-1240px;
	opacity: 0.2;
	 //top: 100px;
	left:-1000px;
	width: 2800px;
	height: 2800px;
	z-index: 0;
}



div.wholeShabang {

	position: absolute;
	top: -80px;
}

div.dividers {
	position: absolute;
	top:-40px;

}

div.centerCont {

	position: absolute;
	left: -40px;

	z-index: 1;

}

/*div.TitleSlice {
	position:absolute;
	//left:238px;
	top:82px;
	width:1024px;
	height:140px;
}*/




div.VideoSlice {
	position:absolute;
	
	top:222px;
	width:1024px;
	height:540px;
	z-index: 2;
}


div.SiteContent {
	position:absolute;
	//left:238px;
	top:762px;
	width:1024px;
	height:473px;
}


div.leftContent {
	position:absolute;
	left:58px;
	top:762px;
	width:331px;
	height:473px;
}

div.centerCoins {
	position:absolute;
	
	top:962px;
	width:323px;
	height:473px;
}

div.RedCrossIcon {
	position:absolute;
	left:652px;
	top:722px;
	width:370px;
	height:138px;
	display: block;
	z-index: 0; 
}

button.closeForm {

	position:absolute;
	left:250px;
	
	height:50px;
	z-index: 4;
	font-size: 100%;
}



div.redForm {

	position:absolute;
	left:652px;
	top:830px;
	width:370px;
	height:465px;
	z-index: 3;
	
	/*position:absolute;
	//left:238px;
	top:800px;
	width:400px;
	height:473px;
	z-index: 3;*/
}

div.underCrossContent {
	position:absolute;
	left:652px;
	top:900px;
	width:370px;
	height:335px;
}








/*///////////////////////*/


div.testForm {
	position:absolute;
	
	top:200px;
	width:1024px;
	height:473px;
}

div.nameTicker {
	position:absolute;
	left:638px;
	top:200px;
	width:1024px;
	color: #CDCDCD;
	height:473px;
	font-size:180%;

}

div.leftDivider {

	position:absolute;
	left:272px;
	top:800px;
	
	


}

div.rightDivider {

	position:absolute;
	left:632px;
	top:800px;
	
	


}


/*///////////////////////*/





div.fifteenDolla {

 	position:absolute;
	
	left:452px;
	top:1017px;
	

 }



div.fiftyDolla {

 	position:absolute;
	
	left:452px;
	top:1056px;
	
	

 }









/*///////////////////////*/




.centerer-container {
	display: table;

}
.centerer {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}


.tableBG {
background-image:url('../images/nonLive/preCompBGTex.png');
background-repeat: no-repeat;

}

.mainTable {
	position: absolute;
	text-align: center;
	
}






.video-container,
.video {
	width: 960px;
	height: 540px;	
}
.video-container {
	position: relative;
	margin: auto;
}
.video {
	position: absolute;
	top: 0;
	left: 0;
}

.flip-container {
	width: 380px;
	height: 280px;
	margin: auto;
	position: absolute;
	left: 50%;
	margin-left: -190px;
	z-index: 2;
}
.flipper {
	background: url('../images/creampaper.png');
	border: solid 2px white;
	padding: 20px;
	width: 340px;
	height: 240px;
	position: absolute;
	top: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
ul.amount-list {
	text-align: left;
	display: block;
	width: 70px;
	margin: auto;
}
.amount-list label{
	display: block;
	margin-left: 20px;
}
.amount-list input {
	float: left;
}
.amount-list li {
	margin-bottom: 8px;
}
.amount-radio:hover + label,
.amount-radio + label:hover {
	font-weight: bold;
}
.amount-radio:checked + label {
	color: #06F;
	font-weight: bold;
}

input.type-radio {
	margin-top: -4px;
}

.flipper .control-label {
	width: 80px;
}
.flipper .controls {
	margin-left: 100px;
	text-align: left;
}
.flipper {
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	position: absolute;
}
.flipper.shy {
	opacity: 0;
	pointer-events: none;
	-webkit-transform: scale(.9);
	-moz-transform: scale(.9);
	-ms-transform: scale(.9);
	-o-transform: scale(.9);
	transform: scale(.9);
}

.confirmed {
	position: absolute;
	margin-left: -20px;
	color: white;
	width: 40px;
	height: 40px;
	padding: 10px 0;
	text-align: center;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	-webkit-box-shadow: 0 2px 8px rgba(0,0,0,.3);
	-moz-box-shadow: 0 2px 8px rgba(0,0,0,.3);
	box-shadow: 0 2px 8px rgba(0,0,0,.3);
}
.confirmed.shy {
	opacity: 0;
	-webkit-transform: scale(.8);
	-moz-transform: scale(.8);
	-ms-transform: scale(.8);
	-o-transform: scale(.8);
	transform: scale(.8);
}


.form-title {
	padding-bottom: 1em;
	border-bottom: solid 1px #CCC;
	margin-bottom: 1.5em;
}

.form-nav,
.form-submit {
	position: absolute;
	bottom: 20px;	
}
.form-nav {
	left: 20px;
}
.form-submit {
	right: 20px;
}

.card-container {
	float: left;
	width: 50%;
	text-align: center;
	margin-top: 30px;
}

.cards-intro {
	margin: 1.9em 0 2em;
}
.card-link {
	display: block;
	color: black;
	text-decoration: none;
}
.card-label {
	display: block;
	font-size: 10px;
}

.card-link,
.card {
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}
.card-link:hover {
	color: #08F;
}
.card-link:hover .card {
	-webkit-transform: scale(1.1) rotate(-3deg);
	-moz-transform: scale(1.1) rotate(-3deg);
	-ms-transform: scale(1.1) rotate(-3deg);
	-o-transform: scale(1.1) rotate(-3deg);
	transform: scale(1.1) rotate(-3deg);
}
.right .card-link:hover .card {
	-webkit-transform: scale(1.1) rotate(3deg);
	-moz-transform: scale(1.1) rotate(3deg);
	-ms-transform: scale(1.1) rotate(3deg);
	-o-transform: scale(1.1) rotate(3deg);
	transform: scale(1.1) rotate(3deg);
}

.button-container {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: 105px;
	width: 300px;
	margin-left: -150px;
	text-align: center;
	z-index: 3;
	opacity: 1;
	-webkit-transform: scale(1);
	-webkit-transition: all .5s;
}
.button-container.shy {
	opacity: 0;
	margin-top: 150px;
	-webkit-transform: scale(.9);
}
.buttonOld {
	width: 200px;
	padding: 5px 0;
	border-radius: 2px;
	text-align: center;
	opacity: .5;
	display: inline-block;
	background-color: white;
	cursor: pointer;
}

#button2 #button1 #button0 {
	padding:25px;
	z-index: 3;
	margin-top: 15px;

}
.button:hover {
	opacity: 1;
}
.button:active, .button.active {
	position: relative;
	top: 2px;
}

.loading {
	color: #AAA;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200px;
	margin-left: -100px;
	text-align: center;
}
