html, body, .centerer-container {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	position: relative;
}

body {
	font-family: sans-serif;
	background-image:url('../images/nonLive/bgsplice_01.png');
	background-color:#201e1c;
	background-repeat: repeat-x;
}


div.TitleSlice {
	position:absolute;
	//left:238px;
	top:282px;
	width:1024px;
	height:140px;
}

div.VideoSlice {
	position:absolute;
	//left:238px;
	top:422px;
	width:1024px;
	height:540px;
}


div.SiteContent {
	position:absolute;
	//left:238px;
	top:962px;
	width:1024px;
	height:473px;
}



.centerer-container {
	display: table;

}
.centerer {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}


.tableBG {
background-image:url('../images/nonLive/preCompBGTex.png');
background-repeat: no-repeat;

}

.mainTable {
	position: absolute;
	text-align: center;
	
}






.video-container,
.video {
	width: 960px;
	height: 540px;	
}
.video-container {
	position: relative;
	margin: auto;
}
.video {
	position: absolute;
	top: 0;
	left: 0;
}

.flip-container {
	width: 380px;
	height: 280px;
	margin: auto;
	position: absolute;
	left: 50%;
	margin-left: -190px;
	z-index: 2;
}
.flipper {
	background: url('../images/creampaper.png');
	border: solid 2px white;
	padding: 20px;
	width: 340px;
	height: 240px;
	position: absolute;
	top: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
ul.amount-list {
	text-align: left;
	display: block;
	width: 70px;
	margin: auto;
}
.amount-list label{
	display: block;
	margin-left: 20px;
}
.amount-list input {
	float: left;
}
.amount-list li {
	margin-bottom: 8px;
}
.amount-radio:hover + label,
.amount-radio + label:hover {
	font-weight: bold;
}
.amount-radio:checked + label {
	color: #06F;
	font-weight: bold;
}

input.type-radio {
	margin-top: -4px;
}

.flipper .control-label {
	width: 80px;
}
.flipper .controls {
	margin-left: 100px;
	text-align: left;
}
.flipper {
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	position: absolute;
}
.flipper.shy {
	opacity: 0;
	pointer-events: none;
	-webkit-transform: scale(.9);
	-moz-transform: scale(.9);
	-ms-transform: scale(.9);
	-o-transform: scale(.9);
	transform: scale(.9);
}

.confirmed {
	position: absolute;
	margin-left: -20px;
	color: white;
	width: 40px;
	height: 40px;
	padding: 10px 0;
	text-align: center;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	-webkit-box-shadow: 0 2px 8px rgba(0,0,0,.3);
	-moz-box-shadow: 0 2px 8px rgba(0,0,0,.3);
	box-shadow: 0 2px 8px rgba(0,0,0,.3);
}
.confirmed.shy {
	opacity: 0;
	-webkit-transform: scale(.8);
	-moz-transform: scale(.8);
	-ms-transform: scale(.8);
	-o-transform: scale(.8);
	transform: scale(.8);
}


.form-title {
	padding-bottom: 1em;
	border-bottom: solid 1px #CCC;
	margin-bottom: 1.5em;
}

.form-nav,
.form-submit {
	position: absolute;
	bottom: 20px;	
}
.form-nav {
	left: 20px;
}
.form-submit {
	right: 20px;
}

.card-container {
	float: left;
	width: 50%;
	text-align: center;
	margin-top: 30px;
}

.cards-intro {
	margin: 1.9em 0 2em;
}
.card-link {
	display: block;
	color: black;
	text-decoration: none;
}
.card-label {
	display: block;
	font-size: 10px;
}

.card-link,
.card {
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}
.card-link:hover {
	color: #08F;
}
.card-link:hover .card {
	-webkit-transform: scale(1.1) rotate(-3deg);
	-moz-transform: scale(1.1) rotate(-3deg);
	-ms-transform: scale(1.1) rotate(-3deg);
	-o-transform: scale(1.1) rotate(-3deg);
	transform: scale(1.1) rotate(-3deg);
}
.right .card-link:hover .card {
	-webkit-transform: scale(1.1) rotate(3deg);
	-moz-transform: scale(1.1) rotate(3deg);
	-ms-transform: scale(1.1) rotate(3deg);
	-o-transform: scale(1.1) rotate(3deg);
	transform: scale(1.1) rotate(3deg);
}

.button-container {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: 105px;
	width: 300px;
	margin-left: -150px;
	text-align: center;
	z-index: 3;
	opacity: 1;
	-webkit-transform: scale(1);
	-webkit-transition: all .5s;
}
.button-container.shy {
	opacity: 0;
	margin-top: 150px;
	-webkit-transform: scale(.9);
}
.buttonOld {
	width: 200px;
	padding: 5px 0;
	border-radius: 2px;
	text-align: center;
	opacity: .5;
	display: inline-block;
	background-color: white;
	cursor: pointer;
}

#button2 #button1 #button0 {
	padding:25px;
	z-index: 3;
	margin-top: 15px;

}
.button:hover {
	opacity: 1;
}
.button:active, .button.active {
	position: relative;
	top: 2px;
}

.loading {
	color: #AAA;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200px;
	margin-left: -100px;
	text-align: center;
}
