html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

body {
	font-family: sans-serif;
	background-color:#2f282d;
	color: #d5d5d5;
	background-repeat: no-repeat;
	background-position: center top;
}

img {
	border: none;
}

/*/////////////////////////

		Formatting

/////////////////////////*/

input.error {
	border-style: solid;
	border-color: red;
}
label.error {
	position: absolute;
	background: black;
	border-radius: 3px;
	padding: 6px;
	top: -15px;
	left: -5px;
	text-align: center;
	font-size: 11px;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.5);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.5);
	box-shadow: 0 1px 4px rgba(0,0,0,.5);
	white-space: nowrap;
}
label.error:after {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 0, 0, 0);
	border-top-color: #000000;
	border-width: 10px;
	left: 0;
	margin-left: 10px;
}

/* input.success {
	border-style: solid;
	border-color: green;
} */
.white {
	color: #d5d5d5;
}
.orange {
	color: #df966d;
}
.yellow {
	color: #dfb76d;
}

.t-center {
	text-align: center;
}
.t-font {
	font-family: 'NeuzeitGrotesk';
}
.t-bold {
	font-weight: bold;
}
.t-vlarge {
	font-size: 20px;
	line-height: 18px;
}
.t-larger {
	font-size: 17px;
}
.t-large {
	font-size: 16px;
	line-height: 1;
}
.t-medium {
	font-size: 13px;
}
.t-small {
	font-size: 10px;
}
.t-vsmall {
	font-size: 8px;
}
.t-icon {
	vertical-align: top;
	margin-top: -3px;
}
.stripe-b {
	margin-top: -2px;
}

/*/////////////////////////

		Layout

/////////////////////////*/

.bgwrapper {
	min-width: 960px;
	background-image:url('../images/bg-texture.jpg');
	background-repeat: no-repeat;
	background-position: center top;
	min-height: 100%;
}

.container {
	width: 960px;
	margin: auto;	
	position: relative;
	padding-bottom: 100px;
}

.row {
	text-align: center;
}

.header,
.footer {
	position: relative;
	z-index: 12;
}

.header {
	padding-top: 13px;
}

.footer {
	margin-top: 43px;
}

.footer-left,
.footer-right {
	display: inline-block;
	vertical-align: top;
}
.footer-left {
	min-width: 132px;
	text-align: right;
}
.footer-right {
	text-align: left;
	width: 90px;
	margin-left: 41px;
}

.footer-bottom {
	margin: 20px 0;
}

.main {
	height: 540px;
}
.main,
.splash {
	position: relative;
}

.video-container {
	z-index: 2;
	background: black;
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
.video-container.shy {
	opacity: 0;
	-webkit-transform: scale(.9);
	-moz-transform: scale(.9);
	-ms-transform: scale(.9);
	-o-transform: scale(.9);
	transform: scale(.9);
}

.video-container,
.video {
	width: 960px;
	height: 540px;	
}
.video-container {
	position: relative;
	margin: auto;
}
.video {
	position: absolute;
	top: 0;
	left: 0;
}

.video-blackout {
	background-color: black;
}
.video-blackout.loading {
	background-image: url('../images/loader-black.gif');
	background-position: center center;
	background-repeat: no-repeat;
}

.counter-dollar {
	vertical-align: top;
	margin-left: -44px;
}

#CounterZone {
	display: inline-block;
}

.counter-text,
.countdown-text {
	margin-top: 8px;
}

.RoyalePresents,
.daBellRinga {
	display: inline-block;
}

.royale-script,
.playbutton-container,
.skipmovie-container {
	text-align: center;
	position: absolute;
	width: 100%;
	left: 0;
}
.royale-script {
	top: 273px;
}
.playbutton-container {
	top: 351px;
}
.skipmovie-container {
	top: 490px;
}

.shelf-submit {
	margin-top: 150px;
}

.splash-fg,
.splash-bg {
	position: absolute;
	top: -47px;
	left: 41px;
}
.splash-fg {
	z-index: 8;
}
.splash-bg {
	z-index: 6;
}

.amount-header {
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 19px;
	position: relative;
	left: 10px;
}
.amount-dollar,
.amount-sprite {
	text-indent: 99999px;
	overflow: hidden;
	display: inline-block;
	height: 38px;
}
.amount-dollar {
	background: url('../images/dollar-sign-small.png') no-repeat left top;
	width: 13px;
}
.amount-sprite {
	background: url('../images/flip-counter-small.png') no-repeat left top;
	width: 24px;
}
.amount-sprite.zero { background-position: 0 0; }
.amount-sprite.one  { background-position: -24px 0; }
.amount-sprite.five { background-position: -48px 0; }

.amount-other {
	height: 32px;
	width: 40px;
	vertical-align: bottom;
	margin: 0 1px;
	font-size: 14px;
}

.form-area {
	display: inline-block;
	position: relative;
}
.form-amount .form-area {
	vertical-align: bottom;
}
.form-amount label.error {
	top: -30px;
	z-index: 10;
}
.form-text {
	height: 28px;
	font-size: 16px;
	margin: 12px 0 0;
}

.shelf-left {
	text-align: right;
}
.shelf-left input[type=radio] {
	vertical-align: bottom;
	margin-bottom: 8px;
}
.shelf-secured {
	position: absolute;
	top: 24px;
}
.form-fullwidth {
	width: 364px;
}
.form-cc {
	width: 270px;
}
.form-cvv {
	width: 76px;
}
.form-area.cvv {
	margin-left: 12px;
}
.form-month {
	width: 35px;
}
.form-year {
	width: 60px;
}
.form-cards {
	display: inline-block;
	vertical-align: middle;
	margin-left: 12px;
	line-height: 0;
	position: relative;
	top: -2px;
}
.form-subscribe {
	margin-left: 12px;
}

.form-amount {
	margin-bottom: 8px;
}
.form-amount label {
	cursor: pointer;
}
.form-amount:not(#ie) label {
	display: block;
}

/* Custom radio button trick from: http://css-tricks.com/snippets/css/custom-radio-buttons/ */
form:not(#ie) input[type="radio"] {
    position: absolute;
    display: none;
}
input[type="radio"] + label::before {
    content: url('../images/button-radio-off.png');
    position: relative;
    top: 16px;
    left: -4px;
    vertical-align: top;
}
input[type="radio"]:checked + label::before {
    content: url('../images/button-radio-on.png');
}

form:not(#ie) input[type="checkbox"] {
    position: absolute;
    display: none;
}
input[type="checkbox"] + label::before {
    content: url('../images/button-checkbox-off.png');
	position: relative;
	top: 3px;
	left: 3px;
}
input[type="checkbox"]:checked + label::before {
    content: url('../images/button-checkbox-on.png');
}

/* Hack to make sure custom checkboxes are both loaded */
input[type="checkbox"] + label::after {
    content: url('../images/button-checkbox-on.png');
	position: absolute;
	opacity: 0;
	pointer-events: none;
}
input[type="checkbox"]:checked + label::after {
    content: url('../images/button-checkbox-off.png');
}


.payment-errors {
	color: red;
	display: block;
	margin-left: -50px;
	line-height: 1;
	font-size: 11px;
}

.info-logo-container {
	text-align: center;
	margin-bottom: 25px;
}
.info-logo {
	margin-left: 20px;
}
.info-fineprint {
	margin-top: 25px;
}
.info-secured {
	display: inline-block;
	vertical-align: middle;
}
.info-stripe {
	vertical-align: middle;
}

.audio-container {
	position: absolute;
}

.submit-loader {
	margin-top: 7px;
}

.plaque-share {
	position: absolute;
	left: 496px;
	top: 10px;
	width: 367px;
	text-align: center;
	z-index: 9;
}

.final-share {
	position: absolute;
	left: 586px;
	width: 367px;
	top: 30px;	
	text-align: center;
	z-index: 9;

}

.header-share {
	position: absolute;
	bottom: 2px;
	right: 0;
}

.footer-trouble {
	position: absolute;
	top: -30px;
	left: 50%;
	margin-left: -167px;
}

/*/////////////////////////

	Buttons

/////////////////////////*/

.spritebutton {
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: 0 0;
}

.standardbutton {
	position: relative;
	width: 161px;
	height: 30px;
	margin: auto;
	margin-bottom: 13px;
}
.standardbutton:hover {
	background-position: 0 -30px;
}
.standardbutton:active,
.standardbutton.active {
	background-position: 0 -60px;
}
.standardbutton.donate {
	background-image: url('../images/button-yes.png');
}
.standardbutton.nodonate {
	background-image: url('../images/button-no.png');
}
.standardbutton.playmovie {
	background-image: url('../images/button-playmovie.png');
}
.standardbutton.skipmovie {
	background-image: url('../images/button-skipmovie.png');
}

.infobutton {
	background-image: url('../images/button-info.png');
	width: 115px;
	height: 22px;
	margin: auto;
	margin-top: 17px;
}
.infobutton:hover {
	background-position: 0 -22px;
}
.infobutton:active,
.infobutton.active {
	background-position: 0 -44px;
}


.skipbutton {
	width: 36px;
	height: 14px;
	position: absolute;
	right: 0;
	top: -30px;
}
.skipbutton:hover {
	background-position: 0 -14px;
}
.skipbutton:active,
.skipbutton.active {
	margin-top:1px;
}

.skipmovie,
.splash-skipmovie {
	cursor: pointer;
	opacity: 0.5;
	z-index: 9;
	font-size: 19px;
	text-transform: uppercase;
	display: inline-block;
}
.skipmovie:hover,
.splash-skipmovie:hover {
	opacity: 0.9;
}
.skipmovie {
	position: absolute;
	right: 0;
	top: -33px;
}

.replay {
	width: 68px;
	right: 141px;
	top: 441px;
	z-index: 9;
	background-image: url('../images/button-replay.png');
}

.playbutton {
	position: relative;
	display: inline-block;
	background-image: url('../images/button-play.png');
	width: 122px;
	height: 122px;
	margin-top: 2px;
}
.playbutton:hover {
	background-position: 0 -122px;
}
.playbutton:active,
.playbutton.active {
	top:1px;
}

.sharebutton {
	position: relative;
	display: inline-block;
	width: 46px;
	height: 24px;
}
.sharebutton:hover {
	background-position: 0 -24px;
}
.sharebutton:active,
.sharebutton.active {
	top: 1px;
}
.sharebutton.facebook {
	left: 6px;

	background-image: url('../images/share-fb.png');
}
.sharebutton.twitter {
	left: 7px;
	background-image: url('../images/share-twitter.png');
}
.sharebutton.mail {
	left: 2px;
	background-image: url('../images/share-mail.png');
}
.sharebutton.embed {
	width: 56px;
	background-image: url('../images/share-embed.png');
}

.submit-button {
	background: url('../images/button-submit.png') no-repeat 0 0;
	border: none;
	margin: 12px 0;
	vertical-align: middle;
}
.submit-button:active,
.submit-button.active {
	background-position: 0 -30px;
	top: 1px;
}
.submit-button:disabled {
	background-position: 0 -30px;
	opacity: .5;
}

.closebutton {
	position: absolute;
	width: 28px;
	height: 28px;
	background: url('../images/button-close-grey.png') no-repeat 0 0;
	top: 40px;
	left: -11px;
	cursor: pointer;
}
.closebutton:hover {
	background-position: 0 -28px;
}
.closebutton:active,
.closebutton.active {
	margin-top: 1px;
}
.donateshelf .closebutton {
	background-image: url('../images/button-close-red.png');
}

.clickherebutton {
	background-image: url('../images/button-clickhere.png');
	width: 179px;
	height: 34px;
	display: inline-block;
}
.clickherebutton:active,
.clickherebutton.active,
a:active .clickherebutton,
a.active .clickherebutton {
	background-position: 0 -34px;
}

.mutebutton {
	background-image: url('../images/button-mute.png');
	width: 29px;
	height: 29px;
	position: absolute;
	right: 217px;
	top: 434px;
	z-index: 9;
}
.mutebutton:hover {
	background-position: 0 -29px;
}
.mutebutton.muted {
	background-position: -29px 0;
}
.mutebutton.muted:hover {
	background-position: -29px -29px;
}

/*/////////////////////////

	Panels

/////////////////////////*/

.plaque {
	background-image: url('../images/plaque.png');
	position:absolute;
	width:367px;
	height:434px;
	z-index: 7;
	text-align: center;
}
.plaque.firstbox {
	left: 493px;
	top: 42px;
}
.plaque-inner {
	padding: 26px 85px 0 97px;
	text-align: left;
}
.plaque.donatebox {
	left:50%;
	top: 59px;
	margin-left: 104px;
	pointer-events: none;
}
.plaque-shadowless {
	pointer-events: auto;
	display: inline-block;
	width: 237px;
}

.shelf {
	text-align: left;
	background-repeat: no-repeat;
	background-position: 0 0;
	position: absolute;
	right: 190px;
	top: 59px;
	width: 691px;
	height: 366px;
	z-index: 6;
}

.donateshelf .shelf-inner {
	padding: 50px 30px 0;
}
.infoshelf .shelf-inner {
	padding: 35px 170px 0 65px;
}

.shelf-left,
.shelf-right {
	display: inline-block;
	vertical-align: top;
}
.shelf-left {
	width: 100px;
}
.shelf-right {
	margin-left: 43px;
	width: 370px;
}

.shelf-full {
	text-align: left;
	background-image: url('../images/shelf-donate-full.png');
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 657px;
	height: 366px;
	margin: auto;
	position: relative;
}

.shelf-full .shelf-inner {
	padding: 50px 61px 0;
}


.firstbox p {
	margin: 0;
	margin-bottom: .5em;
}

.firstbox-buttons {
	margin-top: 150px;
}

.share {
	position:absolute;
	left:0px;
	top:384px;
	width:100%;
	height:60px;
	text-align: center;
}
.footer-text {
	display: inline-block;
	vertical-align: middle;
}
.footer-stripe {
	vertical-align: middle;
	margin-left: 4px;
}
.footer-share {
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}
.footer-mobile {
	text-decoration: none;
	line-height: 1.5;
}
.mobile-thanks {
	margin-left: 45px;
}


.donatebox-header {
	margin-top: 18px;
}
.donatebox-buttons {
	margin-top: 8px;
}
.donatebox-redcross {
	margin-top: 18px;
}
.donatebox-proceeds {
	margin-top: 3px;
}

.donateshelf {
	background: url('../images/shelf-donate.png');
}
.greyshelf {
	background: url('../images/shelf-grey.png');
}


/*/////////////////////////

		Special Effects

/////////////////////////*/


.brotherDarkness {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	opacity: 1.0;
	z-index: 7;
}

.mattePainting {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 960px;
	height: 1072px;
	z-index: 0;
	background-image: url('../images/bg-street.jpg');
	background-repeat: no-repeat;
	background-position: center top;
}


/*/////////////////////////

		Fonts

/////////////////////////*/


@font-face {
    font-family: 'NeuzeitGrotesk';
    src: url('../fonts/neuzeit.eot');
    src: url('../fonts/neuzeit.eot?#iefix') format('embedded-opentype'),
         url('../fonts/neuzeit.woff') format('woff'),
         url('../fonts/neuzeit.ttf') format('truetype'),
         url('../fonts/neuzeit.svg#neuzeitgrototregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NeuzeitGrotesk';
    src: url('../fonts/neuzeit-bold.eot');
    src: url('../fonts/neuzeit-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/neuzeit-bold.woff') format('woff'),
         url('../fonts/neuzeit-bold.ttf') format('truetype'),
         url('../fonts/neuzeit-bold.svg#neuzeitgrototbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

