.photoshop-overlay {
	background-image: url('../120412_site.jpg');
	background-repeat: no-repeat;
	width: 100%;
	height: 1234px;
	opacity: .3;
	z-index: 100;
	position: absolute;
	top: 0;
	left: 0;
	background-position: center top;
	pointer-events: none;
}

html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

body {
	font-family: sans-serif;
	background-color:#2f282d;
	color: #d5d5d5;
}

img {
	border: none;
}

/*/////////////////////////

		Formatting

/////////////////////////*/

.error {
	border-style: solid;
	border-color: red;
}
.success {
	border-style: solid;
	border-color: green;
}
.orange {
	color: #df966d;
}
.yellow {
	color: #dfb76d;
}

.t-center {
	text-align: center;
}
.t-font {
	font-family: 'NeuzeitGrotesk';
}
.t-bold {
	font-weight: bold;
}
.t-vlarge {
	font-size: 20px;
	line-height: 18px;
}
.t-large {
	font-size: 15px;
}
.t-medium {
	font-size: 13px;
}
.t-small {
	font-size: 10px;
}
.t-vsmall {
	font-size: 8px;
}
.t-icon {
	vertical-align: top;
	margin-top: -3px;
}
.stripe-a {
	vertical-align: bottom;
	position: relative;
	top: 2px;
}
.stripe-b {
	margin-top: -2px;
}

/*/////////////////////////

		Layout

/////////////////////////*/

.bgwrapper {
	min-width: 960px;
	background-image:url('../images/bg-texture.jpg');
	background-repeat: no-repeat;
	background-position: center top;
}

.container {
	width: 960px;
	margin: auto;	
	position: relative;
	padding-bottom: 100px;
}

.row {
	text-align: center;
}

.header,
.footer {
	position: relative;
	z-index: 12;
}

.header {
	margin-top: 13px;
}

.footer {
	margin-top: 43px;
}

.footer-left,
.footer-right {
	display: inline-block;
	text-align: right;	
	vertical-align: top;
}
.footer-left {
	width: 673px;
}
.footer-right {
	width: 90px;
	margin-left: 41px;
}

.footer-bottom {
	margin: 10px 0;
}

.main,
.splash {
	position: relative;
}

.video-container {
	z-index: 2;
}

.video-container,
.video {
	width: 960px;
	height: 540px;	
}
.video-container {
	position: relative;
	margin: auto;
}
.video {
	position: absolute;
	top: 0;
	left: 0;
}

.counter-dollar {
	vertical-align: top;
	margin-left: -44px;
}

#CounterZone {
	display: inline-block;
}

.counter-text,
.countdown-text {
	margin-top: 8px;
}

.RoyalePresents,
.daBellRinga {
	display: inline-block;
}

.royale-script {
	text-align: center;
}

.shelf-submit {
	margin-top: 150px;
}

.splash-fg,
.splash-bg {
	position: absolute;
	top: -30px;
	left: 140px;
}
.splash-fg {
	z-index: 8;
}
.splash-bg {
	z-index: 6;
}

.amount-header {
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 19px;
	position: relative;
	left: 10px;
}
.amount-dollar,
.amount-sprite {
	text-indent: 99999px;
	display: inline-block;
	height: 38px;
}
.amount-dollar {
	background: url('../images/dollar-sign-small.png') no-repeat left top;
	width: 13px;
}
.amount-sprite {
	background: url('../images/flip-counter-small.png') no-repeat left top;
	width: 24px;
}
.amount-sprite.zero { background-position: 0 0; }
.amount-sprite.one  { background-position: -24px 0; }
.amount-sprite.five { background-position: -48px 0; }

.amount-other {
	height: 32px;
	width: 40px;
	vertical-align: bottom;
	margin: 0 1px;
	font-size: 14px;
}

.form-text {
	height: 28px;
	font-size: 16px;
	margin: 12px 0 0;
}

.shelf-left {
	text-align: right;
}
.shelf-left input[type=radio] {
	vertical-align: bottom;
	margin-bottom: 8px;
}
.shelf-secured {
	position: absolute;
	top: 24px;
}
.form-fullwidth {
	width: 364px;
}
.form-cc {
	width: 270px;
}
.form-cvv {
	margin-left: 12px;
	width: 76px;
}
.form-cards {
	display: inline-block;
	vertical-align: middle;
	margin-left: 12px;
	line-height: 0;
	position: relative;
	top: -2px;
}
.form-subscribe {
	margin-left: 12px;
}

.form-amount {
	margin-bottom: 8px;
}
.form-amount label {
	cursor: pointer;
}
.form-amount:not(#ie) label {
	display: block;
}

/* Custom radio button trick from: http://css-tricks.com/snippets/css/custom-radio-buttons/ */
form:not(#ie) input[type="radio"] {
    position: absolute;
    display: none;
}
input[type="radio"] + label::before {
    content: url('../images/button-radio-off.png');
    position: relative;
    top: 16px;
    left: -4px;
}
input[type="radio"]:checked + label::before {
    content: url('../images/button-radio-on.png');
}

.payment-errors {
	color: red;
}


/*/////////////////////////

	Buttons

/////////////////////////*/

.spritebutton {
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: 0 0;
}

.standardbutton {
	position: relative;
	width: 161px;
	height: 30px;
	margin: auto;
	margin-bottom: 13px;
}
.standardbutton:hover {
	background-position: 0 -30px;
}
.standardbutton:active,
.standardbutton.active {
	background-position: 0 -60px;
}
.standardbutton.yes {
	background-image: url('../images/button-yes.png');
}
.standardbutton.no {
	background-image: url('../images/button-no.png');
}
.standardbutton.playmovie {
	background-image: url('../images/button-playmovie.png');
}
.standardbutton.skipmovie {
	background-image: url('../images/button-skipmovie.png');
}

.infobutton {
	background-image: url('../images/button-info.png');
	width: 115px;
	height: 22px;
	margin: auto;
	margin-top: 17px;
}
.infobutton:hover {
	background-position: 0 -22px;
}
.infobutton:active,
.infobutton.active {
	background-position: 0 -44px;
}

.skipbutton {
	background-image: url('../images/button-skip.png');
	width: 36px;
	height: 14px;
	position: absolute;
	right: 0;
	top: -30px;
}
.skipbutton:hover {
	background-position: 0 -14px;
}
.skipbutton:active,
.skipbutton.active {
	margin-top:1px;
}

.playbutton {
	background-image: url('../images/button-play.png');
	width: 122px;
	height: 122px;
	position: absolute;
	right: 130px;
	top: 400px;
	z-index: 10;
}
.playbutton:hover {
	background-position: 0 -122px;
}
.playbutton:active,
.playbutton.active {
	margin-top:1px;
}

.sharebutton {
	position: relative;
	display: inline-block;
	width: 46px;
	height: 24px;
}
.sharebutton:hover {
	background-position: 0 -24px;
}
.sharebutton:active,
.sharebutton.active {
	top: 1px;
}
.sharebutton.facebook {
	background-image: url('../images/share-fb.png');
}
.sharebutton.twitter {
	background-image: url('../images/share-twitter.png');
}
.sharebutton.mail {
	background-image: url('../images/share-mail.png');
}

.submit-button {
	background: url('../images/button-submit.png') no-repeat 0 0;
	border: none;
	margin: 12px 0;
	vertical-align: middle;
}
.submit-button:active,
.submit-button.active {
	background-position: 0 -30px;
	top: 1px;
}
.submit-button:disabled {
	opacity: .5;
}

.closebutton {
	position: absolute;
	width: 28px;
	height: 28px;
	background: url('../images/button-close-grey.png') no-repeat 0 0;
	top: 40px;
	left: -11px;
	cursor: pointer;
}
.closebutton:hover {
	background-position: 0 -28px;
}
.closebutton:active,
.closebutton.active {
	margin-top: 1px;
}
.donateshelf .closebutton {
		background-image: url('../images/button-close-red.png');
}


/*/////////////////////////

	Panels

/////////////////////////*/

.plaque {
	background-image: url('../images/plaque.png');
	position:absolute;
	left:50%;
	top: 59px;
	margin-left: 104px;
	width:367px;
	height:434px;
	z-index: 7;
	text-align: center;
}
.plaque-inner {
	padding: 30px 90px 0 100px;
	text-align: left;
}

.shelf {
	text-align: left;
	background-repeat: no-repeat;
	background-position: 0 0;
	position: absolute;
	right: 190px;
	top: 59px;
	width: 691px;
	height: 366px;
	z-index: 6;
}
.shelf-inner {
	padding: 50px 30px 0;
}

.shelf-left,
.shelf-right {
	display: inline-block;
	vertical-align: top;
}
.shelf-left {
	width: 100px;
}
.shelf-right {
	margin-left: 43px;
	width: 370px;
}

.firstbox p {
	margin: 0;
}
.firstbox p + p {
	margin-top: .5em;
}

.firstbox-buttons {
	margin-top: 150px;
}

.share {
	position:absolute;
	left:0px;
	top:384px;
	width:100%;
	height:60px;
	text-align: center;
}

.donatebox-header {
	margin-top: 18px;
}
.donatebox-buttons {
	margin-top: 8px;
}
.donatebox-redcross {
	margin-top: 18px;
}
.donatebox-proceeds {
	margin-top: 3px;
}

.donateshelf {
	background: url('../images/shelf-donate.png');
}
.greyshelf {
	background: url('../images/shelf-grey.png');
}


/*/////////////////////////

		Special Effects

/////////////////////////*/


.brotherDarkness {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	opacity: 1.0;
	z-index: 7;
}

.mattePainting {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 960px;
	height: 1217px;
	z-index: 0;
	background-image: url('../images/bg-street.jpg');
	background-repeat: no-repeat;
	background-position: center top;
}


/*/////////////////////////

		Fonts

/////////////////////////*/


@font-face {
    font-family: 'NeuzeitGrotesk';
    src: url('../fonts/neuzeit.eot');
    src: url('../fonts/neuzeit.eot?#iefix') format('embedded-opentype'),
         url('../fonts/neuzeit.woff') format('woff'),
         url('../fonts/neuzeit.ttf') format('truetype'),
         url('../fonts/neuzeit.svg#neuzeitgrototregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NeuzeitGrotesk';
    src: url('../fonts/neuzeit-bold.eot');
    src: url('../fonts/neuzeit-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/neuzeit-bold.woff') format('woff'),
         url('../fonts/neuzeit-bold.ttf') format('truetype'),
         url('../fonts/neuzeit-bold.svg#neuzeitgrototbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

