.photoshop-overlay {
	background-image: url('../120412_site.jpg');
	background-repeat: no-repeat;
	width: 100%;
	height: 1234px;
	opacity: .3;
	z-index: 100;
	position: absolute;
	top: 0;
	left: 0;
	background-position: center top;
	pointer-events: none;
}

html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

body {
	font-family: sans-serif;
	background-color:#2f282d;
	color: #d5d5d5;
}

/*/////////////////////////

		Formatting

/////////////////////////*/


.orange {
	color: #df966d;
}
.yellow {
	color: #dfb76d;
}

.t-font {
	font-family: 'NeuzeitGrotesk';
}
.t-bold {
	font-weight: bold;
}
.t-large {
	font-size: 15px;
}
.t-medium {
	font-size: 13px;
}
.t-vsmall {
	font-size: 8px;
}


/*/////////////////////////

		Layout

/////////////////////////*/

.bgwrapper {
	min-width: 960px;
	background-image:url('../images/bg-texture.jpg');
	background-repeat: no-repeat;
	background-position: center top;
}

.container {
	width: 960px;
	margin: auto;	
	position: relative;
	padding-bottom: 100px;
}

.row {
	text-align: center;
}

.header,
.footer {
	position: relative;
	z-index: 12;
}

.header {
	margin-top: 13px;
}

.footer {
	margin-top: 43px;
}

.footer-left,
.footer-right {
	display: inline-block;
	text-align: right;	
	vertical-align: top;
}
.footer-left {
	width: 673px;
}
.footer-right {
	width: 90px;
	margin-left: 41px;
}

.footer-bottom {
	margin: 10px 0;
}

.main,
.splash {
	position: relative;
}

.video-container {
	z-index: 2;
}

.video-container,
.video {
	width: 960px;
	height: 540px;	
}
.video-container {
	position: relative;
	margin: auto;
}
.video {
	position: absolute;
	top: 0;
	left: 0;
}

.counter-dollar {
	vertical-align: top;
	margin-left: -44px;
}

#CounterZone {
	display: inline-block;
}

.counter-text,
.countdown-text {
	margin-top: 8px;
}

.RoyalePresents,
.daBellRinga,
.header-spacer {
	display: inline-block;
}
.header-spacer {
	width: 100px;
}

.royale-script {
	text-align: center;
}

/*/////////////////////////

	Buttons

/////////////////////////*/

.spritebutton {
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: 0 0;
}

.standardbutton {
	width: 161px;
	height: 30px;
	margin: auto;
	margin-bottom: 13px;
}
.standardbutton:hover {
	background-position: 0 -30px;
}
.standardbutton:active,
.standardbutton.active {
	background-position: 0 -60px;
}
.standardbutton.yes {
	background-image: url('../images/button-yes.png');
}
.standardbutton.no {
	background-image: url('../images/button-no.png');
}
.standardbutton.playmovie {
	background-image: url('../images/button-playmovie.png');
}
.standardbutton.skipmovie {
	background-image: url('../images/button-skipmovie.png');
}

.infobutton {
	background-image: url('../images/button-info.png');
	width: 115px;
	height: 22px;
	margin: auto;
	margin-top: 17px;
}
.infobutton:hover {
	background-position: 0 -22px;
}
.infobutton:active,
.infobutton.active {
	background-position: 0 -44px;
}

.skipbutton {
	background-image: url('../images/button-skip.png');
	width: 36px;
	height: 14px;
	position: absolute;
	right: 0;
	top: -30px;
}
.skipbutton:hover {
	background-position: 0 -14px;
}
.skipbutton:active,
.skipbutton.active {
	margin-top:1px;
}

.playbutton {
	background-image: url('../images/button-play.png');
	width: 122px;
	height: 122px;
	position: absolute;
	right: 130px;
	top: 400px;
	z-index: 10;
}
.playbutton:hover {
	background-position: 0 -122px;
}
.playbutton:active,
.playbutton.active {
	margin-top:1px;
}

.sharebutton {
	position: relative;
	display: inline-block;
	width: 46px;
	height: 24px;
}
.sharebutton:hover {
	background-position: 0 -24px;
}
.sharebutton:active,
.sharebutton.active {
	top: 1px;
}
.sharebutton.facebook {
	background-image: url('../images/share-fb.png');
}
.sharebutton.twitter {
	background-image: url('../images/share-twitter.png');
}
.sharebutton.mail {
	background-image: url('../images/share-mail.png');
}

.shelf-submit {
	margin-top: 150px;
}

.splash-fg,
.splash-bg {
	position: absolute;
	top: -30px;
	left: 140px;
}
.splash-fg {
	z-index: 8;
}
.splash-bg {
	z-index: 6;
}
/*/////////////////////////

	Panels

/////////////////////////*/

.plaque {
	background-image: url('../images/plaque.png');
	position:absolute;
	left:50%;
	top: 59px;
	margin-left: 104px;
	width:367px;
	height:434px;
	z-index: 7;
	text-align: center;
}

.shelf {
	background-repeat: no-repeat;
	background-position: 0 0;
	position: absolute;
	right: 190px;
	top: 59px;
	width: 691px;
	height: 366px;
	z-index: 6;
}

.plaque-inner {
	padding: 30px 90px 0 100px;
	text-align: left;
}
.firstbox p {
	margin: 0;
}
.firstbox p + p {
	margin-top: .5em;
}

.firstbox-buttons {
	margin-top: 150px;
}

.share {
	position:absolute;
	left:0px;
	top:384px;
	width:100%;
	height:60px;
	text-align: center;
}

.donatebox-header {
	margin-top: 18px;
}
.donatebox-buttons {
	margin-top: 8px;
}
.donatebox-redcross {
	margin-top: 18px;
}
.donatebox-proceeds {
	margin-top: 3px;
}

.donateshelf {
	background: url('../images/shelf-donate.png');
}


/*/////////////////////////

		Special Effects

/////////////////////////*/


.brotherDarkness {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	opacity: 1.0;
	z-index: 7;
}

.mattePainting {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 960px;
	height: 1217px;
	z-index: 0;
	background-image: url('../images/bg-street.jpg');
	background-repeat: no-repeat;
	background-position: center top;
}


/*/////////////////////////

		Fonts

/////////////////////////*/


@font-face {
    font-family: 'NeuzeitGrotesk';
    src: url('../fonts/neuzeit.eot');
    src: url('../fonts/neuzeit.eot?#iefix') format('embedded-opentype'),
         url('../fonts/neuzeit.woff') format('woff'),
         url('../fonts/neuzeit.ttf') format('truetype'),
         url('../fonts/neuzeit.svg#neuzeitgrototregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NeuzeitGrotesk';
    src: url('../fonts/neuzeit-bold.eot');
    src: url('../fonts/neuzeit-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/neuzeit-bold.woff') format('woff'),
         url('../fonts/neuzeit-bold.ttf') format('truetype'),
         url('../fonts/neuzeit-bold.svg#neuzeitgrototbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

